version: '3.8'

services:
  registry:
    image: registry:latest
    container_name: private-registry
    restart: always
    ports:
      - "{{ registry_port }}:5000"
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin: '["*"]'
      REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods: '["HEAD","GET","OPTIONS","DELETE","POST","PUT","PATCH"]'
    volumes:
      - ./data:/data
    networks:
      - registry-net

networks:
  registry-net:
    driver: bridge